.patx{
  padding-left: 5%;
}
.fbtext {
  font-family:  "Inter";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  color:  var(--white);
}

.acs {
  color:  var(--white);
  text-decoration: none !important;
}

.acs:link {
  color: pink;
}

.acs:hover {
  color: hotpink;
}

.acs:active {
  color: blue;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.71px solid var(--white);
  border-radius: 32px;
  background-color: transparent;
  color:  var(--white);
  padding: 12px 24px;
  gap: 10px;
  width: fit-content;
}

.socialMedia {
  text-align: center;
}
.deskbreak{
  display: none;
}

@media screen and (max-width: 768px) {
  .one{    padding-top: 5%;
  }
  .textrowfo{
    padding: 40px 0;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .two{
    order: 3 !important;
    padding-top: 5%;
  }
  .mobilebreak{
    display: none;
  }
  .deskbreak{
    display: inline-block;
  }
  .patx{
    padding-left: 10%;
  }
  .smtxt{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0px !important;  
  letter-spacing: 0.02em;
  }
  .fbtext {
    padding-bottom: 48px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    width:"60%"
    
  }

  .btx {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: 0; /* Remove default margin */
    line-height: 1; /* Reset line-height to prevent extra space */
  }

  .socialMedia {
    transform: translateY(0%) !important;
    left: 0% !important;
    padding-top: 48px !important;
    position: relative !important;
    display: flex;
    text-align: left !important;
    flex-direction: column; /* Change to column */
    padding: 0px;
gap: 16px;
  }
}
.btx{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin: 0; /* Remove default margin */
  line-height: 1; /* Reset line-height to prevent extra space */
}
.socialMedia{
  left: 90%;
  position: absolute;
  text-align: right;
  transform: translateY(-40%);

}

.smtxt{
  font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* Light Text */

color: var(--white);
}
@media only screen and (min-width: 768px) and (max-width: 1620px) {
  .socialMedia{
    left: 85%;
  }
}
.smtxt:hover{
  color: pink;
  scale: 1.01;
  transition: ease-in-out;
}
.btn:hover{
  scale: 1.01;
  color: pink;
}
.han{
  transition: transform 0.5s;
}
.han:hover{
  transform: rotate(360deg);
  color: pink;
  transition: ease-in-out;
}
.one{
order: 2;
}
.two{
order: 1;
}
.textrowfo{
  color: var(--white) !important;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
