@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.fp-watermark {
    display: none !important;
    }
:root {
    --white: #ffffff;
    --black:#000000;
    --bs1:rgba(0, 0, 0, 0.70);
    --bs2:rgba(0, 0, 0, 0.30);
    --background:#ffffff;
    .svco{
        filter: invert(0) !important;
    }
    .svcom{
        filter: invert(0) !important;}
  }
  .svcom:hover{
    cursor: pointer;
    scale: .9;
    opacity: .95;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
  html[data-theme='light'] {
    --white: #ffffff;
    --black:#000000;
    --bs1:rgba(0, 0, 0, 0.70);
    --bs2:rgba(0, 0, 0, 0.30);
    --background:#ffffff;
    .svco{
        filter: invert(0) !important;
    }
    .svcom{
        filter: invert(0) !important;}
  }
  html[data-theme='dark'] {
    --white: #000000;
    --black:#ffffff;
    --bs1:rgba(0, 0, 0, 0.70);
    --bs2:rgba(0, 0, 0, 0.30);
    --background:#000000;
    .svco{
        filter: invert(100%) !important;
    }
    .svcom{
        filter: invert(1) !important;
    }

}

html[data-theme='light'],
html[data-theme='dark'] {
  transition: background-color 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
    
  }
  html,body{
    z-index: -3;
    width: 100%;
    height:100%;
    background-color: var(--background);
    margin: 0%;
    padding: 0%;
    
}
::-webkit-scrollbar {
    display: none;}



@media screen and (max-width:768px) {
    .svcom{
        display: none;}

    h1{ font-family: 'Raleway', sans-serif; 
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
    } 
    h2{ font-family: 'Raleway', sans-serif; 
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    } 
    h3{ font-family: 'Raleway', sans-serif; 
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        
    } 
    h4{ font-family: 'Raleway', sans-serif; 
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    } 
    h5{ font-family: 'Raleway', sans-serif; 
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    h6{ font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }
    h7{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }
    } 

@media screen and (max-width:1920px) and (min-width:768px) {
    h1{ font-family: 'Raleway', sans-serif; 
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
    } 
    h2{ font-family: 'Raleway', sans-serif; 
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    } 
    h3{ font-family: 'Raleway', sans-serif; 
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    } 
    h4{ font-family: 'Raleway', sans-serif; 
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    } 
    h5{ font-family: 'Raleway', sans-serif; 
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    h6{ font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }
    h7{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }
} 

@media screen and (min-width:3000px) {
    h1,h2,h3,h4,h5,h6,h7{
        line-height: 5%;
    }
     h1{ font-family: 'Raleway', sans-serif !important; 
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 164px;
        color: var(--black);

    } 
    h2{ 
      font-family: 'Raleway', sans-serif !important; 
        font-style: normal;
        font-weight: 400;
        font-size: 96px !important;
        line-height: 88px !important;
        color: var(--black);

    } 
    h3{ font-family: 'Raleway', sans-serif !important; 
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 40px !important;
        line-height: 88px !important;
        color: var(--black);

    } 
    h4{ font-family: 'Raleway', sans-serif !important; 
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 88px !important;
        color: var(--black);

    } 
    h5{ font-family: 'Raleway', sans-serif !important; 
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 48px !important;
        line-height: 85px !important;
        color: var(--black);

    }
    h6{ font-family: 'Inter', sans-serif !important;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 52px !important;
        line-height: 75px;
        color: var(--black) !important;

    }
    h7{
        font-family: 'Inter', sans-serif !important;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        color: var(--black);

    }
    }
.wh{
    color: var(--black);
}

.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
  }
  
  .cell {
    border: 1px solid  var(--white);
    padding: 10px;
  }
  .backgc{
    color:  var(--white);
  }
  section {
    scroll-snap-align: start;
  }
        /* menu */



  @media (max-width: 300px) {
    .mt{
      font-size: .8rem !important;
    }
    .menux{
      width: 80%;
    }
    
  }
  .menul{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color:  var(--white);
  }
  .menux {

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 0 auto;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    
.izqx {
    display: flex;
    align-items: center;
    order: 1;
    flex-direction: row;
    }
    
    .derx {
      order: 2;
    }
    .menu-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:  var(--white);
      z-index: 100;
      
    }
      

.menubutton{
    display: flex;
    background-color: var(--white);
    border: none;
}
.menubutton:hover{
    color: pink !important;
    scale: 1.03;
    transition: ease-in-out;   
    cursor: pointer; 
}
.wect{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */
letter-spacing: 0.02em;
color: var(--black);

}
.mr{
    padding-top: 1%;
    padding-right: 5%;
  }
.mpm{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 1%;
    overflow: hidden;
}
@media screen and (max-width:768px) {
    .mpm{
        padding-top: 5%;
        padding-left: 5%;
        
  }
  .mr{
    padding-top: 5%;
    padding-right: 5%;
  }
  .wect{
    display: none;
  }
}
@media screen and (max-width:400px) {
    .mpm{
        padding-top: 7%;
  }
  .mr{
    padding-top: 7%;
  }
}
/**/
.circle {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background-color:  var(--white);
    border-radius: 200px;
    pointer-events: none;
    color: var(--white);
    text-align: center;
    font-size: 16px;
  }
  
  .cursorText {
    flex: auto;
    font-size: inherit;
    pointer-events: none;
    margin: auto;
  }
  
  .container {
    display: flex;
    flex-flow: row;
    height: 90vh;
    width: 98vw;
    background:var(--white);
    border-radius: 20px;
    padding: 40px;
  }


  .ctxt{
    color: var(--white);
  }



.rsb{
    width: 50%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-radius: 12px;

}
.rsb:hover{
    cursor: pointer;
    scale: .9;
    transition: ease;
}
/* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 */
/* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 */
/* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 */
/* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 */
/* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 *//* IE 9 */

.rsimg:hover {
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
    transition: transform .3s ease-out;
    /* Add ease transition */
    transform-origin: center;
    /* Set the transform origin to the center of the image */
    filter: saturate(1);
    transition: ease ;
    object-fit: scale-down;

}

.slick-slider{
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    /* Center the slider horizontally */
    text-align: center;
    /* Center the slides within the slider */
    height: fit-content;
  }
  .rsimg{
    object-fit: cover !important;
    width: 100%;
    height: 100%;
  }
  .img-wrapper{
    margin: 0 5% !important;
    overflow: hidden;
    width: 100%;
    height:100%;
      border-radius: 12px !important;
}
  
  @media screen and (max-width:768px) {
    .slick-list {margin: 0 -6px;}
    .slick-slide>div {padding: 0 6px;}
    .slick-slider{
        width: 80%;
    }
    .rsimg{
      object-fit: scale-down !important;
    }
    .img-wrapper{
        width: 227.5px;
        height:152px;

    }
    .ssm{
        width: 24px;
        height: 24px;
    }
  }
  .slick-slide {
    margin: 0 36px;
}

/* the parent */
.slick-list {
    margin: 0 -36px;
}
